In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

In [3]:
zen=pd.read_csv('dataset7.csv')

In [26]:
zen

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

# 1.Descriptive analytics on the dataset.

In [27]:
zen.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

# 2.Check whether female and male students scored the same marks.

In [28]:
 #null hypothesis is female and male students scored different marks
 #alternate hypothesis is femle and male students scored the same marks
 #alpha is 0.05

In [29]:
male=zen.loc[zen['Gender']=='male']
female=zen.loc[zen['Gender']=='female']

In [30]:
# test statistics
t,p=stats.ttest_ind(female['Total Marks'],male['Total Marks'])

In [31]:
print('p value is ',p)

p value is  0.4937822317960763

In [32]:
if p<0.05:
    print('reject null hypothesis\n','that is female and male students scored the same marks')
else:
    print('fail to reject null hypothesis\n','that is female and male students scored the different marks')

fail to reject null hypothesis
 that is female and male students scored the different marks

# 3. Whether test preparation helps the students?

In [33]:
#null hypothesis is test preparation not helps the students
#alternate hypothesis is test preparation helps the students
#alpha is 0.05

In [34]:
t_none=zen[zen['Test preparation']=='none']
t_completed=zen[zen['Test preparation']=='completed']

In [35]:
# test statistics
t_val,p_val=stats.ttest_ind(t_none['Total Marks'],t_completed['Total Marks'])

In [36]:
print('p value is',p_val)

p value is 0.0012671292457320106

In [37]:
if p_val<0.05:
    print('reject null hypothesis\n','That is test preparation helps the students')
else:
    print('fail to reject null hypothesis\n','that is test preparation not helps the students')

reject null hypothesis
 That is test preparation helps the students